// @media screen and (min-width:515px) {}

nav.top {
  display: flex;
  //background-image: url(TCP-logo.svg);

  justify-content: space-between;
  background-color: #21575A;
  border-bottom: 2px solid #1d4c4e;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  position: fixed;
  top: 0;
  width: 100%;

  menu {
    display: flex;
    align-items: baseline;
    gap: 1ch;
  }
}

// nav.top {
//   display: flex;
//   // flex-direction: row;
//   justify-content: space-between;
//   background-color: #21575A;
//   padding-top: 10px;
//   padding-bottom: 10px;

// }