#accountBody {
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: content-box;
    width: 80%;
    align-content: center;
    background: #9EC1BE;
    margin-left: 10%;
    margin-right: 10%;
    height: 110%;
    padding-bottom: 10%;
}

section {
    padding: 10px;
}

#accountBody>section:nth-of-type(even) {
    background-color: darken(#9EC1BE, 20%);
}