* {
  box-sizing: border-box;
}
.storeContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  grid-template-rows: 2fr, 1fr;
  gap: 4rem;
  background: #759e9d;
  border: 3px black solid;
}
.storeLocal {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  margin-top: 3em;
  margin-left: 10px;
  text-align: center;
}
.storeMap {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 3em;
}
.storeUL {
  display: flex;
  flex-direction: column;
}
.storeOnline {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  display: inline;
  margin-left: 5em;
}
