.popup-overlay {
    font-size: 25px;
    word-spacing: 0.8px;
    border: 9px outset #21575A;
    border-radius: 24px 0px 24px 0px;
    background: linear-gradient(135deg, #C8E4DF 0%, #1C6EA4 28%, #21575A 100%);
    box-shadow: -7px -5px 15px 5px #317f2d,
        12px -5px 15px 5px #2c7bb7,
        inset 50px 50px 50px 50px rgba(6, 134, 18, 0),
        inset 4px 15px 30px 5px rgba(6, 134, 18, 0),
        inset 4px 15px 30px 5px rgba(6, 134, 18, 0);
}

@media screen and (max-width: 742px) {
    .popup-overlay {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: fit-content;
        align-items: center;
        z-index: 2;
        position: fixed;
        left: 5%;
        top: 15%;
    }

    #createNote * {
        display: flex;
        flex-direction: column;
    }

    form input {
        width: 90%;
    }
}

@media screen and (min-width: 742px) {
    .popup-overlay {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        align-items: center;
        z-index: 1;
        position: fixed;
        top: 40%;
        left: 20%;
        justify-content: center;
    }

    .popup-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    button * {
        justify-content: space-around;
    }
}

.popup-inner {
    width: 95%;
    height: 50%;
    position: sticky;
    top: 50px;
}

.popup-inner form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-btn,
.save-btn {
    width: fit-content;
    margin: 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, .15);
    display: inline-block;
    justify-content: center;
    padding: 3px;
    border-radius: 10rem;
    color: black;
    transition: all .5s;
    overflow: hidden;
    z-index: 1;
}

#createNote form input {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
}